@media (min-width:551px) {
  .our {
    background-color: rgb(241, 237, 237);
    display: inline-block;
    padding: 2% 0%;
  } 

  .left-body {
    width: 65%;
    float: left;
  }

  .right-body {
    width: 33%;
    float: right;
  }
}