
.the-end {
  background-color: rgb(165, 159, 159);
  height: 200px;
  margin-top: 2%;
  padding-left: 2%;

  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.the-end a button {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  margin-top: 30px;
  border-radius: 3px;
  padding: 8px 14px;

  cursor: pointer;
}

.the-end a button:hover {
  box-shadow: inset 1px 1px 10px rgba(255, 255, 255, 0.3);
}

.the-end p {
  color: rgb(0, 0, 0);
  font-size: 14px;
}