.header {
  text-align: center;
  padding: 10px 0px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin: 2px 0 5px 0; 
}

.special-title {
  background-color: black;
  color: white;
  padding: 0px 5px;
}

.welcome-div {
  position: relative;
  margin-top: 0.5%;  
}

.welcome-picture {
  margin: 2vh 0;
  height: 85%;
  width: 100%;
}

.text-welcome {
  position: absolute;
  top: 37%;
  left: 2%;
  color: white;
}

.jane-welcome {
  font-size: 30px;
  margin-bottom: 0;
}

.fashion-welcome {
  font-size: 63px;
  margin: 20px 0;
  font-weight: bold;
}

.subscribe-welcome {
  padding: 12px 18px;
  border-radius: 2px;
  border: 0 solid white;
  font-size: 18px;
  transition: box-shadow 0.4s ease;
}

.subscribe-welcome:hover {
  color: rgb(204, 193, 193);
  background-color: rgb(12, 10, 10);
  box-shadow: 1px 1px 10px rgba(51, 49, 49, 0.5);
}
 



