.first-left-body {
    margin: 0% 3% 2% 3%;
    background-color: white;
}
.second-left-body {
    margin: 7% 4% 0% 4%;
    background-color: white;
    padding-bottom: 4%;
}

.left-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.heading-left {
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 2% 0%;
}

.description-left {
    font-weight: bold;
}

.left-picture {
    padding: 4% 2% 1% 2%;
}

.first-left-picture {
    width: 100%; 
    height: auto;
}

.left-description-text {
    padding:  1% 2%;
}

.left-option {
    padding: 2%  4%  1%  4%;
}

.left-option button {
    padding: 8px 10px;
    border: 1px solid black;
}

.like {
    float: left;
    color: black;
    background-color: white;
}

.replies {
    float: right;
    background-color: black;
    color: white;
}

.like:hover,
.replies:hover {
    background-color: gray;
}

.white-area {
    color: rgb(255, 255, 255);
    background-color: white;
}

.author {
    margin: 10% 0% 0% 3%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.author-picture {
    width: 10%;  
}

.author-picture-view {
    width: 100%;
    height: 90%;
}

.author-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 3%;

}

.author-info p span {
    font-weight: bold;
}