@media (max-width:1025px) and (min-width:551px) {
   
  .left-body {
    margin-bottom: 17%;
  }
  
  .heading-left {
    font-size: 30px;
    padding: 2% 0%;
  }

  .author {
    margin-top: 10%;
  }

  .author-picture-view {
    height: 90%; 
  }

  .author-info {
    margin: -20px 0% 0% 2%;
  }

  .left-description-text span {
    display: none;
  }

  .third-second-description {
    height: 15vh;
  }
}