@media (max-width:550px) {
  .the-end {
    height: 150px;
    margin-top: 5%;
  }
  
  .the-end a button {
    margin-top: 20px;
    border-radius: 2.5px;
    padding: 6px 10px;
  }
  
  .the-end p {
    font-size: 12px;
  }
}